fastapi==0.89.1
SQLAlchemy==1.4.46
uvicorn==0.20.0
starlette==0.22.0
httpx==0.23.3
psycopg2-binary==2.9.5
# валидация данных
pydantic>=1.10.1,<1.11.10

# статический анализ кода (линтеры)
isort>=5.10.1,<5.11.0
flake8>=5.0.4,<5.1.0
pylint>=2.15.0,<2.16.0
mypy>=0.971,<1.0

# автоматическое форматирование кода
black>=22.8.0,<22.9.0


